n8n-workflows/01-daily-report.json
{
  "name": "ASEAGI Daily Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "name": "Every Day at 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://api:8000/telegram/report",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Daily Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"success\"]}}",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_USER_ID",
        "text": "=📊 **Daily Report - {{$json[\"data\"][\"date\"]}}**\n\n🚨 Urgent Actions: {{$json[\"data\"][\"urgent_actions\"].length}}\n⚠️ Upcoming Deadlines: {{$json[\"data\"][\"upcoming_deadlines\"].length}}\n📅 Upcoming Hearings: {{$json[\"data\"][\"upcoming_hearings\"].length}}\n⚖️ Recent Violations: {{$json[\"data\"][\"recent_violations\"].length}}\n\nCheck your Telegram bot for details!",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 250],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "message": "=Daily report failed: {{$json[\"error\"]}}",
        "additionalFields": {}
      },
      "name": "Log Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Every Day at 8 AM": {
      "main": [
        [
          {
            "node": "Get Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Report": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": ["ASEAGI", "Daily", "Report"],
  "pinData": {},
  "versionId": "1"
}
