n8n-workflows/02-deadline-alerts.json
{
  "name": "ASEAGI Deadline Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "name": "Every Day at 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://api:8000/telegram/deadline",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Upcoming Deadlines",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"data\"][\"count\"]}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Has Deadlines",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_USER_ID",
        "text": "=⚠️ **DEADLINE ALERT**\n\nYou have {{$json[\"data\"][\"count\"]}} deadlines in the next 7 days:\n\n{{$json[\"data\"][\"results\"].map(item => `• ${item.title} (Due: ${item.due_date}) [${item.priority.toUpperCase()}]`).join('\\n')}}\n\nType /deadline in your bot for more details.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 250],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "message": "No upcoming deadlines - all clear!"
      },
      "name": "No Action Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Every Day at 9 AM": {
      "main": [
        [
          {
            "node": "Get Upcoming Deadlines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Upcoming Deadlines": {
      "main": [
        [
          {
            "node": "Has Deadlines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Deadlines": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": ["ASEAGI", "Deadlines", "Alerts"],
  "pinData": {},
  "versionId": "1"
}
